{% extends 'myapp/base.html' %}

{% block body_block %}


    <div class="page-header">
      <h1>What is this?!</h1>
    </div>

    <br><br><br><br>
    <div class="row text-center">
      <div class="col-md-3 pull-left col-md-offset-4">
        <p>This is just a game, developed at the Facebook Hackathon in London.</p>
        <h1>Please don't kill anyone!</h1>
        <p>Login to start</p>
        <div id="fb-root"></div>
        <fb:login-button show-faces="true" width="200" max-rows="1"></fb:login-button>
    </form>
      </div>
    </div>
    <script>$(window).load(function() {if (isLogged()) window.location.href = "/myapp/";});</script>
{% endblock %}